// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Defining a variable
$gray: #F4F4F4;

body {
  background: $gray; // Using this variable
}

.question {
  border: 1px solid rgb(153, 153, 153);
  border-radius: 6px;
  padding: 12px;
  margin: 10px auto;
  background-color: khaki;
  h3 {
    font-size: 28px;
  }
  h5 {
    font-size: 18px;
    font-style: italic;
  }
}

.answer {
  border: 1px solid rgb(153, 153, 153);
  border-radius: 6px;
  padding: 12px;
  margin: 10px auto;
  background-color: khaki;
  h3 {
    font-size: 28px;
  }
  h5 {
    font-size: 18px;
    font-style: italic;
  }
}